<!DOCTYPE html>
<html>
<head><title>Edit Student</title></head>
<body>
  <h2>Edit Student</h2>
  <form method="POST">
    <label>Full Name:</label><br>
    <input type="text" name="full_name" value="{{ student.full_name }}" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" value="{{ student.email }}" required><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone"><br><br>

    <label>Registration Number:</label><br>
    <input type="text" name="registration_number" required><br><br>

    <label>Student Number:</label><br>
    <input type="text" name="student_number" required><br><br>

    <label>Program:</label><br>
      <select name="program" required>
          <option value="">-- Select Program --</option>
          <option value="MHI">MHI</option>
          <option value="MPH">MPH</option>
          <option value="MPVC">MPVC</option>
      </select><br><br>

    <label>Supervisor</label>
      <select name="supervisor_id">
        <option value="">-- Select Supervisor --</option>
        {% for sup in supervisors %}
          <option value="{{ sup.id }}" {% if student.supervisor_id == sup.id %}selected{% endif %}>{{ sup.full_name }}</option>
        {% endfor %}
      </select>

    <button type="submit">Update</button>
  </form>
</body>
<a href="{{ url_for('main.students') }}">← Back to Student List</a>

</html>
